<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboot2docker.dao.impl.AppUserMessageDaoImpl" >
    <resultMap id="BaseResultMap" type="com.example.springboot2docker.entity.AppUserMessageEntity" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="message" property="message" jdbcType="VARCHAR" />
        <result column="senddate" property="senddate" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, message, senddate
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from appuser_message
        where id = #{id,jdbcType=VARCHAR}
    </select>

</mapper>